html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
img { display: block }
*, *:before, *:after { box-sizing: border-box;  }
html { -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; scroll-behavior: smooth; scroll-padding-top: 15px; -webkit-scroll-behavior: smooth; -webkit-scroll-padding-top: 15px;}


	@font-face {
		font-family:'BentonSans';
		src:url("../fonts/BentonSansRegular.woff") format("woff");
		font-weight: 400;
	}

	@font-face{
		font-family:'BentonSans';
		src:url("../fonts/BentonSansMedium.woff") format("woff");
		font-weight: 500;
	}

	@font-face{
		font-family:'BentonSans';
		src:url("../fonts/BentonSansBold.woff") format("woff");
		font-weight: 700;
	}

	@font-face {
	  font-family: 'Guardian Egyptian Web';
	  src: url('../fonts/GuardianEgyp-Regular-Web.woff') format('woff');
	  font-weight:  400;
	  font-style:   normal;
	  font-stretch: normal;
	}

	@font-face {
	  font-family: 'Guardian Egyptian Web';
	  src: url('../fonts/GuardianEgyp-Medium-Web.woff') format('woff');
	  font-weight:  500;
	  font-style:   normal;
	  font-stretch: normal;
	}


:root {
	--sectionBottom: 60px;
}

body {
	font-family: 'BentonSans', 'Helvetica Neue', Helvetica, sans-serif;
	background: #f7f7f7;
}

.inav-header  [class^="axp-global-header__dls-module__module___"] [class*="axp-global-header__dls-module__navSticky"]  {
	top: -60px !important;
	left: 0 !important;
	position: relative !important;
}
/* font-size is critical because of extraneous BOM Marker &#65279; that gets added when OneNav is included onto .html
doesn't affect .asp pages that have SSI */
.inav-header { height: 60px; font-size: 0; }
.inav-header:empty { height: 0;}

section {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

	.sec100 { width: 100%; }
	.sec1400 { width: 100%; max-width: 1400px; }

.greyBG {
	background: #757679;
}

.whiteBG {
	background: #fff;
	padding: 60px 0;
}

.card-navBG {
	position: sticky;
	top: 0;
	background: #757679;
	z-index: 3;
	border-bottom: 1px solid #a2a3a5;
}

.card-nav {
	height: 50px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.cn-card {
	display: flex;
	height: 50px;
	align-items: center;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 48px 30px;
	font-size: calc(1.25rem * .625);
	padding-left: 55px;
	line-height: 1.3em;
	color: #fff;
	max-width: 50%;
	text-decoration: none;
}

.cn-explore {
	background: url(../img/arrow-down-white.svg) no-repeat calc(100% - 40px) 50%;
	color: #fff;
	text-transform: uppercase;
	font-size: calc(1.4rem * .625);
	font-weight: 500;
	background-color: rgba(255,255,255,.1);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 42px 0 20px;
	border-left: 1px solid rgba(255,255,255,.25);
	border-right: 1px solid rgba(255,255,255,.25);
	width: 175px;
	text-align: center;
	text-decoration:none;
}

	.cn-explore:focus {
		outline: 5px auto Highlight;
		outline: 5px auto -webkit-focus-ring-color;
	}

.explore-links {
	width: 100%;
	max-width: 400px;
	background: #fff;
	position: absolute;
	top: 1px;
	right: 0;
	text-align: left;
	z-index: 3;
	opacity: 0;
	transform: translateY(-100%);
	pointer-events: none;
}
	.explore-close {
		display: none;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		background: #757679;
		position: absolute;
		top: 0; left: 0;
		z-index: 5;
		color: #fff;
		font-size: calc(1.5rem * .625);
	}

	.explore-link {
		background: #828386 url(../img/arrow-white.svg) no-repeat calc(100% - 20px) 50%;
		font-size: calc(2rem * .625);
		padding: 0 20px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #a5a5a5;
		height: 50px;
		text-decoration: none;
		color: #fff;
		font-family: 'Guardian Egyptian Web';
	}

		.explore-link.nav-link-arrow:hover { text-decoration: underline; text-underline-offset: 3px; text-decoration-thickness: 1px; }

	.explore-link-external {
		border-bottom: 1px solid #ebebeb;
		height: 45px;
		background: url(../img/external-link.svg) no-repeat calc(100% - 20px) 50%;
		color: #333;
		background-size: 18px;
		font-family: 'BentonSans', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: calc(1.4rem * .625);
	}

		.explore-link-external:hover { text-decoration: underline; }

	.nav-close {
		background: url(../img/close-white.svg) no-repeat calc(100% - 40px) 50%;
		background-size: 14px;
		width: 175px;
		height: 50px;
		background-color: rgba(255,255,255,.1);
		display: flex;
		align-items: center;
		justify-content: center;
		border-left: 1px solid rgba(255,255,255,.25);
		border-right: 1px solid rgba(255,255,255,.25);
		text-align: center;
		text-transform: uppercase;
		font-size: calc(1.4rem * .625);
		font-weight: 500;
	}

	.explore-links-open {
		transform: translateY(50px);
		opacity: 1;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		box-shadow:0 3px 5px rgba(0,0,0,.15);
		pointer-events: auto;
		transition: transform .25s;
	}

.hf-subhead { color: #CBCBCB; text-transform: uppercase; font-weight: 700; margin-bottom: 4px; font-size: calc(1.9rem * .625);}
.hf-head { color: #fff; font-size: calc(4.5rem * .625); font-weight: 700; text-transform: uppercase;display: block; }

.two-cols {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: var(--sectionBottom);
}

.three-cols {
	display: flex;
	justify-content: space-between;
	margin: 0 auto var(--sectionBottom) auto;
}

.three-cols .col { width: 31%; }

.benefit-category {
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.34);
	text-decoration: none;
	display: block;
	height: 100%;
	background: #fff;
	border: 1px solid #757679;
	border-left: 3px solid #757679;
	transition: all .25s ease;
}

.benefit-category:hover {
	transform: translateY(-10px);
	box-shadow: 0 13px 26px 0 rgb(0 0 0 / 20%);
}

.bc-head {
	display: flex;
	align-items: center;
	color: #fff;
	font-family: 'Guardian Egyptian Web';
	font-size: calc(2.2rem * .625);
	padding: 15px 20px;
	background: #757679 url(../img/world_service_tile.svg);
	background-size: 70%;
}

.bc-icon { margin-right: 15px; width: 51px; height: 51px; flex-shrink: 0; }
.bc-title { margin-right: 10px; }
.bc-arrow { margin-left: auto; }

.bc-desc {
	background: #fff;
	padding: 15px 20px;
	font-size: calc(1.4rem * .625);
	line-height: 1.5em;
	color: #333;
}

.footer-dll {
	width: 100%;
	max-width: 350px;
}

.hideMe { display: none; }

.wst-divider {
	width: 100%;
	height: 60px;
	background: url(../img/world_service_tile.svg);
	background-size: 200px;
	margin-bottom: var(--sectionBottom);
	border-bottom: 1px solid #666;
}

.wst-dll {
	width: 100%;
	height: 150px;
	background:url(../img/world_service_tile.svg);
	background-size: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--sectionBottom);
	border-top: 1px solid #CBCBCB;
}

.terms {
	margin: 0 auto;
	max-width: 1000px;
}

	.terms-link {
		font-weight: 500;
		font-size: calc(1.4rem * .625);
		margin-bottom: 1em;
		background:url(../img/arrow.svg) no-repeat;
		background-size: 5px;
		background-position: 0 2px;
		padding-left: 10px;
		color: #333;
		display: block;
		text-decoration: none;
	}

	.terms-link:hover { text-decoration: underline; }

	.terms li {
		font-family: Helvetica, Arial, sans-serif;
		font-size: calc(1.3rem * .625);
		line-height: 1.3em;
		margin: 0 0 1em 1em;
	}

	.terms li p { font-size: calc(1.3rem * .625); margin-bottom: 1em;}

	.fineprint { font-family: Helvetica, Arial, sans-serif; font-size: calc(1.1rem * .625); line-height: 1.3em; margin-top: 1.5em; }
	.fineprint + .fineprint { margin-top: .75em; }

.cta-text {
	color: #006FCF;
	padding-right: 1em;
	display: inline-block;
	background:url(../img/arrow-blue.svg) no-repeat 100% 50%;
	background-size: 6px;
	margin-top: 1em;
	font-size: calc(1.4rem * .625);
	text-decoration: none;
	font-weight: 500;
	transition: all .125s ease;
}

	.cta-text:hover {
		padding-right: calc(1em + 5px);
	}

.divider {
	border-bottom: 1px solid #757679;
	margin: var(--sectionBottom) auto;
}

p {
	line-height: 1.6em;
	font-size: calc(1.5rem * .625);
}

p a {
	color: #006FCF;
	text-decoration: none;
}

p a:hover { text-decoration: underline; }

sup {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	font-size: 66%;
	font-weight: 400;
}

sup {
	top: -1ex;
	display: inline-block;
}


@media all and (max-width: 1240px) {
	.card-nav, .explore-close {	padding-left: 20px; }
	.hf-text { margin-left: 20px;}
}

@media all and (max-width: 1000px) {
	.three-cols .col { width: 31%; }
	.fb-text { margin: 0 0 0 30px; }
}

@media all and (max-width: 850px) {
	.three-cols { flex-direction: column; }
	.three-cols .col { width: 100%; }
	.benefit-category { display: flex; margin-bottom: 20px; }
	.bc-head { width: 250px; flex-shrink: 0;}
	.bc-desc { width: 100%; }

	.divider {	margin: var(--sectionBottom) auto; }
}

@media all and (max-width: 768px) {
	.card-nav, .explore-close {	padding-left: 13px; }
	.hf-text { margin-left: 13px;}
}

@media all and (max-width: 750px) {

	.two-cols { flex-direction: column; }
}

@media all and (max-width: 700px) {

}

@media all and (max-width: 600px) {

	.whiteBG { padding: 30px 0 60px 0; }
}

@media all and (max-width: 500px) {
	.sec100M { width: 100%; position: relative; }

	.hf-text { margin-bottom: 20px; }
	.hf-head { max-width: 270px;font-size: calc(3rem * .625); }
	.hf-subhead { font-size: calc(1.2rem * .625); }

	.wst::before { background-image:url(../img/world_service_tile.svg); background-position: 0 50%; background-size: 50%; position: absolute; z-index: -1; top: 10%; left: 0; content: ''; width: 100%; height: 80%; }
	.explore-links { max-width: 100%; }
	.cn-explore { width: 120px;	background-position: calc(100% - 15px) 50%; }
	.nav-close { width: 120px;	background-position: calc(100% - 15px) 50%; }

	.benefit-category { display: block; }
	.bc-head { width: 100%; }



}

@media all and (max-width: 425px) {
	.hhw-image { width: 150px; }
}

@media all and (max-width: 400px) {
	.cta-text { font-size: calc(1.3rem * .625);}
}