.hh-flourish { opacity: .4; }
.card-navBG { background: #006FCF; border-bottom: 1px solid rgba(255,255,255,.25);; }
.explore-close { background: #006FCF; border-bottom: 1px solid transparent; }
.explore-link { background-color: #006FCF; border-bottom: 1px solid rgba(255,255,255,.25);}
.explore-link-external { background-color: #fff; border-bottom: 1px solid #4f6093; }
.hh-welcomeBG { background: rgba(0,23,90, .7); }
.hf-subhead { color: #AED5F4;}
.acc-head { color: #00175A; }
.bc-head { background-color: #006FCF; }
.greyBG { background: #006FCF; }
/* small card in sticky nav - all four HTML pages */
.cn-card { background-image: url(../img/card-nav.png?v=0); }





