<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" />
<rewrite>
  <rules>
			<clear />
			<rule name="Redirect HTTP to HTTPS" enabled="true" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{HTTPS}" pattern="^OFF$" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
			</rule>

  </rules>

<outboundRules>
	<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
	<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
		<conditions>
			<add input="{HTTPS}" pattern="on" />
		</conditions>
		<action type="Rewrite" value="max-age=31536000; includeSubDomains" />
	</rule>
</outboundRules>

</rewrite>
  <httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="SAMEORIGIN" />
 	  <add name="X-Content-Type-Options" value="nosniff" />
    </customHeaders>
  </httpProtocol>


        <handlers>
            <add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" requireAccess="Script" />
        </handlers>


        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
