// -----------------------------------------------------------------------------
// home page
// -----------------------------------------------------------------------------
#home-page {
    background-color: $white;
    .home-header-container {
        position: relative;
        @media (max-width: 1560px) {
            width: 100%;;
        }
        @media (max-width: 767px) {
            width: 100%;;
        }
        img {
            position: absolute;
            top: 10px;
            left: 0px;
            width: 260px;
            height: auto;
            @media (max-width: 767px) {
                width: 180px;
                top: 20px;
            }
        }

        .header-pined {
            position: fixed;
            left: 0px;
            right: 0px;
            top: 0px;
            background-image: url('../img/home_hero.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-color: #ebebeb;
            height: 129vh;
            max-width: $max-width;
            margin: auto;
            width: 100%;
            z-index: -1;
            @media (max-width: 767px) {
                background-size: 160%;
                width: 100%;
                height: 80vh;
            }

        }

        .header-flourish {
            top: 0px;
            left: 0px;
            height: 129vh;
            width: 100%;
            padding: 200px 100px 70px;
            color: $blue;
            background-image: url('../img/global_headerFlourish_mobile.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;
            @media (max-width: 767px) {
                padding: 170px 20px 70px;
                height: 65vh;
            }
            div {
                max-width: 388px;
                @media (max-width: 767px) {
                    max-width: 200px;
                }
                h2 {
                    line-height: 42px;
                    font-size: 30px;
                    @media (max-width: 767px) {
                        line-height: 28px;
                        font-size: 20px;
                    }
                }
                h1 {
                    font-size: 80px;
                    line-height: 100px;
                    margin: 0;
                    @media (max-width: 767px) {
                        line-height: 55px;
                        font-size: 40px;
                    }
                }
                hr {
                    margin: 50px 0;
                    border: 0; border-top: 1px solid $blue;
                    @media (max-width: 767px) {
                        margin: 30px 0;
                    }
                }
                p {
                    line-height: 35px;
                    font-size: 25px;
                    font-weight: 500;
                    @media (max-width: 767px) {
                        line-height: 25px;
                        font-size: 18px;
                    }
                }
            }
        }

    }
    
    .grayBG {
        background-color: $gray;
        .wst-dll {
            padding: 60px 0;
            border-top: none;
            border-bottom: 1px solid #CBCBCB;
        }
    }

    .cards {
        @include container-width-alt;
        section {
            & > div {
                margin: 0 auto;
                padding: 60px;
                max-width: 1126px;
                @media (max-width: 767px) {
                    padding: 20px 0;
                }
            }
        }
    }

    .footer {
        @include container-width-alt;
        background-color: $gray;
        section {
            width: 100%;
            max-width: $max-width;
            .wst-dll {
                background-color: $white;
                margin-bottom: 0px;
                padding-bottom: 60px;
            }
            .terms {
                padding: 3em 0;
                a {
                    margin-bottom: 0;
                    padding-bottom: 1em;
                }
                .all-terms {
                    li {
                        &:last-child {
                            margin-bottom: 0;
                        }
                        p {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
}